.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 110px;
}

/* .navbar img{
    width: 200px;
    height: 20px;
} */
.logo{
    position: relative;
}
.logo h1{
    font-size: 40px;
    padding: 0px 30px;
    font-weight: 750;
    font-family: 'Poppins', sans-serif;
}

.logo img{
    position: absolute;
    width: 200px;
    margin-right: -40px;
    margin-bottom: 10px;
    height: 25px;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
    font-size: 20px;
}

.nav-connect{
    padding: 10px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.nav-connect:hover{
    transform: scale(1.05);
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img{
    display: flex;
    margin: auto;
}

.anchor-link{
    text-decoration: none;
    color: none;
}