.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}

.projects-title{
    position: relative;
}

.projects-title h1{
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 600;
}

.projects-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}